<div class="container-fluid">
    <div class="row">
        <div class="col bg-dark text-white">
            <a class="navbar-brand">Online Store</a>
        </div>
    </div>
    <div class="row">
        <div class="col mt-2">
            <h2 class="text-center">Your Cart</h2>

            <table class="table table-bordered table-stripped p-2">
                <thead>
                    <tr>
                        <th>Qantity</th>
                        <th>Product</th>
                        <th class="text-right">Price</th>
                        <th class="text-right">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="cart.Lines.length==0">
                        <td colspan="4" class="text-center">
                            Your cart is empty!!
                        </td>
                    </tr>
                    <tr *ngFor="let line of cart.Lines">
                        <td>
                            <input type="number" class="form-control-sm" style="width: 5em;" [value]="line.quantity"
                                (change)="cart.updateQuantity(line.product, $event.target.value)" />
                        </td>
                        <td>
                            {{line.product.name}}
                        </td>
                        <td>
                            {{line.product.price | currency:"INR":true:"2.2-2"}}
                        </td>
                        <td class="text-center">
                            <button class="btn btn-sm btn-danger" (click)="cart.removeLine(line.product.id)">
                                Remove
                            </button>
                        </td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-right">
                            Total:
                        </td>
                        <td class="text-right">
                            {{cart.cartPrice | currency:"INR":true:"2.2-2"}}
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="text-center">
                <button class="btn btn-primary m-1 " routerLink="/store">
                    Continue Shopping
                </button>
                <button class="btn btn-secondary m-1 " routerLink="/checkout" [disabled]="cart.Lines.length==0">
                    Checkout
                </button>
            </div>
        </div>
    </div>
</div>